@font-face {
  font-family: "iconfont"; /* Project id 2653823 */
  src: url('iconfont.woff2?t=1625543058600') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-netease:before {
  content: "\e604";
}

.icon-weibo:before {
  content: "\e62a";
}

.icon-qq:before {
  content: "\e647";
}

.icon-mail:before {
  content: "\e615";
}

.icon-steam:before {
  content: "\e740";
}

.icon-zhihu:before {
  content: "\e600";
}

.icon-bangumi-icon:before {
  content: "\e601";
}

.icon-twitter:before {
  content: "\e668";
}

.icon-bilibili:before {
  content: "\e603";
}

.icon-github2:before {
  content: "\e602";
}

